/ImageProcessing/nbproject/private/
/ImageProcessing/build/
/ProcessingImage/nbproject/private/
/ProcessingImage/build/
/OperationCitra/nbproject/private/
/OperationCitra/build/
/OperationCitra/dist/
/CitraOperation/nbproject/private/
/CitraOperation/build/
